body {
  margin: 0;
  background-color:#4285f4 ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #2a2a72; */
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
